<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Podkova&display=swap" >
    <link rel="stylesheet" href="/components/menu.css">
    <title>Document</title>
</head>

<body>
    <nav class="bg-nav-menu">

        <div class="back-button">
            <div class="child-back-button">
            </div>
        </div>

        <div class="blank">
            <div class="child-blank">.</div>
        </div>
    </nav>    

    <h1 class="menu-title">Kantin 1</h1>

    <div class="container-menu">

        <div class="menu">                                     
            <div class="image-menu"></div>
            <div class="name-menu">
                    <p class="food-name">Ayam kudu-kudu</p>
                    <p class="price">Rp.15.000</p>
                    <div class="food-count">  
                        <div class="min">-</div>
                        <div class="count">9</div>
                        <div class="plus">+</div>   
                    </div>
            </div>
        </div>

        <div class="menu">                                     
            <div class="image-menu"></div>
            <div class="name-menu">
                    <p class="food-name">Ayam kudu-kudu</p>
                    <p class="price">Rp.15.000</p>
                    <div class="food-count">  
                        <div class="min">-</div>
                        <div class="count">1</div>
                        <div class="plus">+</div>                       
                    </div>
            </div>
        </div>

        <div class="menu">                                     
            <div class="image-menu"></div>
            <div class="name-menu">
                    <p class="food-name">Ayam kudu-kudu</p>
                    <p class="price">Rp.15.000</p>
                    <div class="food-count"> 
                        <div class="min">-</div>
                        <div class="count">1</div>
                        <div class="plus">+</div> 

                    </div>
            </div>
        </div>

        <button type="submit" class="menu-submit-button">Buat Pesanan</button>
    </div>
</body>
</html>