<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/order-food.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <title>Document</title>
</head>
<body>
    <nav class="order">
        <div class="order-back-button">
            <div class="order-child-back-button">
            </div>
        </div>

        <h3 class="order-title">Melihat Pesanan</h3>
    </nav>

    <div class="customer-food">

        <div class="order-list">

            <div class="order-header">
                <div class="icon"></div>
                <h2 class="store">Kantin 1</h2>
            </div>
                
            <div class="order-page">
                <div class="order-image">
                    <div class="order-image-child"></div>
                </div>
                <div class="for-order-name">
                    <p class="order-name">Ayam Geprek</p>    
                    <p class="order-price">Rp.10.000</p>
                </div>

                <div class="order-trash">
                    <div class="trash-button"></div>
                    <div class="order-count">x1</div>
                </div>
            </div>
                
            <div class="order-page">
                <div class="order-image">
                    <div class="order-image-child"></div>
                </div>
                <div class="for-order-name">
                    <p class="order-name">Ayam Geprek</p>    
                    <p class="order-price">Rp.10.000</p>
                </div>

                <div class="order-trash">
                    <div class="trash-button"></div>
                    <div class="order-count">x1</div>
                </div>
            </div>

        </div>
        
        <div class="total">
            <p class="total-title">Total Pesanan</p>
            <p class="total-price">Rp.35.000</p>
        </div>

        <div class="notes">
            <textarea placeholder="Catatan..." class="notes-place"></textarea>
        </div>

        <button type="submit" class="order-submit-button">Pesan</button>
    </div>
</body>
</html>