<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Podkova&display=swap" >
    <link rel="stylesheet" href="signup.css">
    <title>for react log-in</title>
</head>

<body>
    <nav></nav>

    <div class="wrapper-form">
        <div class="header">
            <h2>Sign Up</h2>
        </div>
        <form action="" method="post" class="form-sign">
            <div class="form-group">
                <input type="email" placeholder="Email Address" class="form-input">
                <input type="username" placeholder="Username" class="form-input">
                <input type="password" placeholder="Password" class="form-input">
                <input type="password" placeholder="Confirm Password" class="form-input">
                <button type="submit" class="submit-button">CREATE ACCOUNT</button>
                <p>Already have an account? <SPAN><a class="signin" href="/user/signup">Sign In</a></SPAN></p>
                <div class="line">
                    <hr><span class="line-caption">Or</span><hr>
                </div>
            </div>
            <button type="submit" class="submit-button footer"><span class="for-icon"> </span> Login With Google </button>
        </form>

    </div>
</body>
</html>