*{
    margin: 0;
    padding: 0;
    border: 0;
}

body, html{
    overflow-x: hidden;
    overflow-y: hidden;
}

nav{
    position: absolute;
}

.koki{
    margin-top: 10px;
}

.blur{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}